<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
     <title>Sydney Dowd</title>
    <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:300' rel='stylesheet' type='text/css'>
    <link href="{{site.baseurl}}/portfolio.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Sydney Dowd is a Ottawa based Graphic Designer">
</head>
<body>
 

  <ul class="skip-links">
    <li><a href="#nav">Skip to Navigation</a></li>
    <li><a href="#content">Skip to Content</a></li>
    <li><a href="#footer">Skip to Footer</a></li>
  </ul>
  
<div class="banner-width">
  <header role="banner" id="nav" id="top" class="nav-bar">
  <div class="grid">
    <div class="unit unit-xs-1-2 unit-s-1-2 unit-m-1-2 unit-l-1-2">
      <div class="pad-t">
         <h1><a class="logo" href="{{site.baseurl}}/">sydneydowd</a></h1>
      </div>
    </div>
    <div class="kilo unit unit-xs-1-2 unit-s-1-2 unit-m-1-2 unit-l-1-2">
      <nav role="navigation" class="navigation">
        <ul>
          <li><a class="caption" href="{{site.baseurl}}/about/">About</a></li>
          <li><a class="caption" href="{{site.baseurl}}/">Portfolio</a></li>
        </ul>
     </nav>
    </div>
  </div>
</header>
</div>

<main role="main" id="content" class="content">
  
  {{content}}
  
</main>
  
<footer role="footer" id="footer" class="pad-b email-footer">
  <div class="skip-links">
  <a href="#top">Back to Top</a>
  </div>
  <h2 class="email"><a href="mailto:sydneymassiedowd@gmail.com">me@sydneydowd.ca</a></h2>
</footer>
  
</body>
</html>