<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
    <title>Sydney Dowd</title>
    <link href='https://fonts.googleapis.com/css?family=Work+Sans' rel='stylesheet' type='text/css'>
    <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<html>
<body>
  
  <header class="nav-bar">
  <div class="grid">
    <div class="unit unit unit-xs-1-2 unit-s-1-2 unit-m-1-2 unit-l-1-2">
      <div class="pad-t logo">
         <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/logo.svg" alt="logo"></a>
      </div>
    </div>
    <div class="kilo unit unit-xs-1-2 unit-s-1-2 unit-m-1-2 unit-l-1-2">
      <nav class="navigation">
        <ul>
          <li><a class="caption " href="{{site.baseurl}}/about/">About</a></li>
          <li><a class="caption " href="{{site.baseurl}}/">Work</a></li>
        </ul>
     </nav>
    </div>
  </div>
</header>

<div class="content">
  
  {{content}}
  
</div>
  
<footer class="email-footer">
  <h2 class="email"><a href="mailto:sydneymassiedowd@gmail.com">me@sydneydowd.ca</h2>
</footer>
  
</body>
</html>